<html lang="pt-br">
  <head>
    <title>#FicaMCTI</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <meta charset="ISO-8859">

    <meta property = "og:url" content 		=	"http://ficamcti.redelivre.org.br/" />
    <meta property = "og:type" content 		=	"website" />
    <meta property = "og:title" content 		=	"Fica MCTI" />
    <meta property = "og:description" content =	"Frente da UFRJ contra a extinção do Ministério da Ciência, Tecnologia e Inovação - MCTI" />
    <meta property = "og:image" content 		=	"http://ficamcti.redelivre.org.br/files/2016/06/capa_mcti_logo_rev.jpg" />
    <!-- Angular Material style sheet -->
    <link rel = "stylesheet" href="http://ajax.googleapis.com/ajax/libs/angular_material/1.1.0-rc2/angular-material.min.css">
    <link rel = "stylesheet" href="style.css">
    <!-- Angular Material requires Angular.js Libraries -->
    <script src = "http://ajax.googleapis.com/ajax/libs/angularjs/1.5.3/angular.min.js"></script>
    <script src = "http://ajax.googleapis.com/ajax/libs/angularjs/1.5.3/angular-animate.min.js"></script>
    <script src = "http://ajax.googleapis.com/ajax/libs/angularjs/1.5.3/angular-aria.min.js"></script>
    <script src = "http://ajax.googleapis.com/ajax/libs/angularjs/1.5.3/angular-messages.min.js"></script>
    <script src = "https://use.fontawesome.com/c3352ab717.js"></script>
    <script type = "text/javascript" async src="https://platform.twitter.com/widgets.js"></script>


    <!-- Angular Material Library -->
    <script src = "http://ajax.googleapis.com/ajax/libs/angular_material/1.1.0-rc2/angular-material.min.js"></script>
    <script src = "app.js"></script>
  </head>
  <body ng-app="senado" ng-controller="MainCtrl">
  <div id="fb-root"></div>
    <script>(function(d, s, id) {
      var js, fjs = d.getElementsByTagName(s)[0];
      if (d.getElementById(id)) return;
      js = d.createElement(s); js.id = id;
      js.src = "//connect.facebook.net/pt_BR/sdk.js#xfbml=1&version=v2.6";
      fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));</script>
    <md-toolbar class="md-warn md-padding">
      <div class="md-toolbar-tools" style="padding:10px;" >
        <h1>
          <span class="fa fa-flask"> Fica MCTI</span>
        </h1>
        <span flex></span>
        <a style="padding:10px;" href="https://twitter.com/intent/tweet?button_hashtag=FicaMCTI" class="twitter-hashtag-button" data-related="cabelotaina">#FicaMCTI</a>
        <div style="padding:10px;" class="fb-share-button" data-href="http://ficamcti.redelivre.org.br/" data-layout="button_count" data-mobile-iframe="true"></div>
        <div class="g-plus" data-action="share"></div>
      </div>
      <div style="width: 100%;text-align: center;" >
        <md-button style="width:250px;height:65px" class="md-accent md-raised md-hue-1" ng-href="mailto:renan.calheiros@senador.leg.br?Subject={{superSubject()}}&Body={{supeBody()}}&bcc={{emails(senadores)}}" ><h2><md-icon class="fa fa-envelope"></md-icon>Super Pressão!</h2></md-button>
      </div>
      <div>
      <p>Recentemente, governo interino fundiu o Ministério de Ciência Tecnologia e Inovação (MCTI) com o Ministério de Comunicação, extinguindo de fato o MCTI. A sua criação em 1985 e a participação ativa da comunidade científica no ministério ao longo destes anos sinalizavam a importância do desenvolvimento científico e tecnológico e a geração de conhecimento para o país. </p>

      <p>A comunidade científica brasileira é veemente contra essa fusão e quer que o MCTI fique #ficaMCTI</p>

      <p>Nesta terça-feira, dia 7 de junho, No senado federal, os senadores da Comissão de Ciência, Tecnologia, Inovação, Comunicação e Informática (CCT) irão debater com o ministro Gilberto Kassab a fusão da pasta de Ciência, Tecnologia e Inovação com a das Comunicações. Vamos aproveitar esta ocasião para pressionar os senadores e sensibilizar a sociedade sobre a necessidade de um MCTI ativo e independente.</p>
       <p>A ideia é que todas as pessoas da nossa comunidade troquem as fotos fotos do seus curriculum lattes pela imagem aqui ao lado. Além disso, vamos mostrar aos nossos senadores que estamos empenhados em manter o MCTI. Usemos as ferramentas desta página para enviar mensagens por e-mail e pelas mídias sociais ao senadores da comissão para deixar clara a nossa posição.</p>
       </div>
    </md-toolbar>
    <div ng-controller="MainCtrl" ng-cloak >
      <br>
      <md-input-container class="md-block">
        <label><md-icon class="fa fa-search"></md-icon>Buscar Senador(a) por nome ou posicionamento (favorável, contra, indeciso):</label>
        <input ng-model="searchText"/>
      </md-input-container>
      <md-subheader class="md-no-sticky">Todos os Senadores da Comissão</md-subheader>
      <md-divider ></md-divider>
      <md-content class="md-padding" layout-xs="column" layout="row">
        <div flex-xs flex-gt-xs="100" layout="row" layout-wrap  layout-align="space-around start">
          <md-card style="width:310px;" ng-repeat="senador in senadores  | filter:searchText" md-theme="{{ showDarkTheme ? 'dark-grey' : 'default' }}" md-theme-watch>
            <md-card-title>
              <md-card-title-text>
                <span class="md-headline">{{senador.nome}}</span>
                <span class="md-subhead">{{senador.partido}} / {{senador.uf}}</span>
              </md-card-title-text>
              <md-card-title-media>
                <div class="md-media-lg card-media">
                  <img src="imagens/senadores/{{senador.foto}}.jpg" />
                </div>
              </md-card-title-media>
            </md-card-title>
            <md-card-actions>
              <md-button ng-href="mailto:{{senador.email}}?Subject={{subject(senador)}}&Body={{body(senador)}}" >
                <md-icon style="color: green;" class="fa fa-envelope fa-2x"></md-icon>
                <md-tooltip md-direction="botton">Enviar Mensagem</md-tooltip>
              </md-button>
              <md-button ng-href="https://twitter.com/intent/tweet?hashtags=FicaMCTI&screen_name={{senador.twitter}}">
                <md-icon style="color: #1dcaff;" class="fa fa-twitter fa-2x"></md-icon>
                <md-tooltip md-direction="botton">Faça um Tweet</md-tooltip>
              </md-button>
              <md-button ng-href="{{senador.facebook}}" >
                <md-icon style="color: #3b5998;" class="fa fa-facebook-official fa-2x"></md-icon>
                <md-tooltip md-direction="botton">Página no Facebook</md-tooltip>
              </md-button>
            </md-card-actions>
          </md-card>
        </div>
      </md-content>
      <md-toolbar flex="none" class="md-warn">
        <div layout="row" layout-align="center center">
          <a href="https://www.facebook.com/adufrj.ssind" style="color:black;"><h2>A<span style="color:red;font-family: serif;">d</span>UFRJ<md-icon style="color: #3b5998;" class="fa fa-facebook"/></h2></a>
        </div>
      </md-toolbar>
    </div>
    <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');
    </script>
    <script src="https://apis.google.com/js/platform.js" async defer></script>
  </body>
</html>
